body{
    font-family: 'Nunito', sans-serif;
    
}
h6{
    font-size: 20px;
    margin-bottom: 0%;
}
h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 0%;
    margin-bottom: -2%;
}
h4{
    font-size: 30px;
    font-weight: 200;
    margin-top: 2%;
}
h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2%;
    color: crimson;
}
p{
    font-weight: 300;
    margin-top: -5%;
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 50%;
    margin-top: -5%;
    margin-left: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,purple);
    color: rgb(252, 251, 251);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    
    
}
#content-1{
    margin-top: 5%;
}
#content-2{
    margin-top: 5%;
}
.top-exp{
    padding-left: 5%;
    font-weight: 400;
}
.experience{
    width: 50%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 40px gray;

}
#front-end{
    padding: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, violet);
    border-image-slice: 1;
}
#back-end{
    padding: 2%;
    border-left: 7px solid;
    border-image: linear-gradient(violet,blue);
    border-image-slice: 1;
}